@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./NotoSansKR-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('./NotoSansKR-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  src: url('./NotoSansKR-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('./NotoSansKR-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 800;
  src: url('./NotoSansKR-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  src: url('./NotoSansKR-Black.woff') format('woff');
  font-display: swap;
}
